NET "bbReset" LOC = P57;
NET "bbReset" IOSTANDARD = LVTTL;
NET "bbPinSwitch" LOC = P58;
NET "bbPinSwitch" IOSTANDARD = LVTTL;
NET "tripFlag" LOC = P66;
NET "tripFlag" IOSTANDARD = LVTTL;
NET "tripType" LOC = P67;
NET "tripType" IOSTANDARD = LVTTL;
NET "reflPowTrip" LOC = P121;
NET "reflPowTrip" IOSTANDARD = LVTTL;
NET "pinSwitchLed" LOC = P123;
NET "pinSwitchLed" IOSTANDARD = LVTTL;
NET "pinSwitch" LOC = P124;
NET "pinSwitch" IOSTANDARD = LVTTL;
NET "arcTripLed" LOC = P126;
NET "arcTripLed" IOSTANDARD = LVTTL;
NET "reflTripLed" LOC = P127;
NET "reflTripLed" IOSTANDARD = LVTTL;
NET "okOutToPlc"   LOC = P132 | IOSTANDARD = LVTTL;
NET "arcDetTrip" LOC = P134;
NET "arcDetTrip" IOSTANDARD = LVTTL;
NET "okFromPlc"    LOC = P138 | IOSTANDARD = LVTTL;
